html {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "PTSans_Bold", sans-serif;
  src: url("/font/PTSans-Bold.ttf");
}
@font-face {
  font-family: "PTSans_Regular", sans-serif;
  src: url("/font/PTSans-Regular.ttf");
}
body {
  font-family: "PTSans_Bold", sans-serif;
  font-weight: 700;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: "PTSans_Bold", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #333333;
}

.text {
  font-family: "PTSans_Regular" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media (max-width: 1000px) {
  .text {
    font-size: 14px;
  }
}

.header {
  height: 110px;
}
@media (max-width: 770px) {
  .header {
    height: 60px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 10px;
}
@media (max-width: 770px) {
  .header__container {
    padding: 20px 10px;
  }
}
.header__part1, .header__part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__part1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__logo {
  margin: 0 50px 0 0;
}
@media (max-width: 1320px) {
  .header__logo {
    margin: 0 20px 0 0;
  }
}
.header__logo img {
  width: 108px;
  height: 30px;
}
@media (max-width: 770px) {
  .header__logo img {
    width: 70px;
    height: 20px;
  }
}
@media (max-width: 400px) {
  .header__logo img {
    width: 40px;
    height: 13px;
  }
}
.header__group {
  position: relative;
  width: 194px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 114px 0 0;
}
@media (max-width: 1320px) {
  .header__group {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 770px) {
  .header__group {
    width: 150px;
  }
}
@media (max-width: 400px) {
  .header__group {
    width: 120px;
  }
}
.header__icon {
  display: block;
  font-size: 24px;
  color: #3D348B;
  cursor: pointer;
}
@media (max-width: 500px) {
  .header__icon {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .header__icon {
    font-size: 17px;
  }
}
.header__input {
  border: none;
  outline: none;
  border-bottom: 1px solid #333333;
  opacity: 0.2;
  width: 150px;
}
@media (max-width: 770px) {
  .header__input {
    width: 100px;
  }
}
@media (max-width: 400px) {
  .header__input {
    width: 80px;
  }
}
.header__group_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__lang_text {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 10px 0 0;
}
.header__lang_icon {
  font-size: 10px;
  color: #5DB7DE;
  cursor: pointer;
}
.header__lang_list {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
  background-color: #fff;
  border-radius: 5px;
}
.header__lang_list.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  pointer-events: visible;
  opacity: 1;
}
.header__lang_item {
  cursor: pointer;
  padding: 10px;
}
.header__burger {
  display: none;
  position: relative;
  margin: 0 0 0 100px;
}
@media (max-width: 1150px) {
  .header__burger {
    display: block;
    padding: 0 30px 0 0;
  }
}
@media (max-width: 500px) {
  .header__burger {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 400px) {
  .header__burger {
    margin: 0 0 0 20px;
  }
}
.header__burger::before, .header__burger span, .header__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 7px;
}
.header__burger::after {
  top: -7px;
}
.header__burger.active {
  position: fixed;
  top: 32px;
  right: 10px;
  z-index: 20;
}
.header__burger.active::before {
  background: #fff;
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active span {
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}
.header__burger.active::after {
  background: #fff;
  top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1150px) {
  .menu__list {
    padding: 100px 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.925);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -1;
  }
  .menu__list.active {
    top: -50px;
    opacity: 1;
    z-index: 20;
  }
}
.menu__item {
  margin: 0 30px 0 0;
}
@media (max-width: 1150px) {
  .menu__item {
    margin: 0 0 30px 0;
  }
}
.menu__item:last-child {
  margin: 0 0 0 0;
}
.menu__link {
  color: #333333;
}
@media (max-width: 1150px) {
  .menu__link {
    font-size: 20px;
    color: #fff;
  }
}

.home {
  background: url("../img/bg1.jpg") 0 0/cover no-repeat;
  padding: 113px 0;
  color: #fff;
}
@media (max-width: 770px) {
  .home {
    padding: 50px 0;
  }
}
.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
@media (max-width: 770px) {
  .home__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.home__block_text {
  width: 33.05%;
}
@media (max-width: 1150px) {
  .home__block_text {
    width: 45%;
  }
}
@media (max-width: 770px) {
  .home__block_text {
    width: 80%;
    margin: 0 0 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .home__block_text {
    width: 100%;
  }
}
.home__title {
  color: #fff;
  padding: 0 0 40px 0;
}
.home__text {
  padding: 0 0 60px 0;
  width: 78%;
}
.home__play {
  color: #fff;
}
.home__item {
  background: #5DB7DE;
  border-radius: 20px;
  width: 306px;
  height: 250px;
  padding: 30px 35px;
}
@media (max-width: 1320px) {
  .home__item {
    width: 250px;
    height: 200px;
    padding: 20px 20px;
  }
}
@media (max-width: 1150px) {
  .home__item {
    width: 200px;
    padding: 20px 20px;
  }
}
@media (max-width: 770px) {
  .home__item {
    padding: 20px;
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 650px) {
  .home__item {
    width: 200px;
  }
}
@media (max-width: 550px) {
  .home__item {
    width: 306px;
  }
}
@media (max-width: 400px) {
  .home__item {
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 340px) {
  .home__item {
    width: 200px;
  }
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 550px) {
  .items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.item1__text1, .item1__text2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
}
@media (max-width: 1150px) {
  .item1__text1, .item1__text2 {
    font-size: 17px;
  }
}
.item1__text1 {
  text-transform: uppercase;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.play__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 15px 0 0;
}
.play__icon {
  display: block;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.play__icon i {
  font-size: 7px;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.service {
  padding: 150px 0;
}
@media (max-width: 770px) {
  .service {
    padding: 50px 0;
  }
}
.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 770px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.service__title {
  padding: 0 0 60px 0;
}
@media (max-width: 770px) {
  .service__title {
    text-align: center;
  }
}
.service__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 770px) {
  .service__columns {
    margin: 0 0 80px 0;
  }
}
.service__column {
  width: 326px;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 1000px) {
  .service__column {
    width: 280px;
  }
}
@media (max-width: 770px) {
  .service__column {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .service__column {
    width: 500px;
  }
}
@media (max-width: 550px) {
  .service__column {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .service__column {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .service__column {
    width: 300px;
  }
}
.service__column:last-child {
  margin: 0 0 0 0;
}
.service__column p {
  display: block;
}
.service__item {
  width: 416px;
  height: 223px;
  background: #3D348B;
  border-radius: 20px;
  padding: 30px 35px;
  color: #fff;
}
@media (max-width: 1320px) {
  .service__item {
    width: 350px;
    padding: 20px;
  }
}
@media (max-width: 1150px) {
  .service__item {
    width: 300px;
  }
}
@media (max-width: 1050px) {
  .service__item {
    width: 250px;
  }
}
@media (max-width: 1000px) {
  .service__item {
    width: 200px;
  }
}
@media (max-width: 770px) {
  .service__item {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 650px) {
  .service__item {
    width: 200px;
  }
}
@media (max-width: 550px) {
  .service__item {
    width: 306px;
  }
}
@media (max-width: 400px) {
  .service__item {
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 340px) {
  .service__item {
    width: 200px;
  }
}

.column1__text1 {
  color: #3D348B;
  border-bottom: 1px dashed #3D348B;
}
.column1__text2 {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 6px 8px;
  background: #5DB7DE;
  border-radius: 10px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  position: absolute;
  right: 0;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about {
  padding: 87px 0 260px 0;
}
@media (max-width: 770px) {
  .about {
    padding: 40px 0 50px 0;
  }
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about__block_text {
  width: 48.4%;
}
@media (max-width: 770px) {
  .about__block_text {
    text-align: center;
    margin: 0 0 50px 0;
  }
}
.about__title {
  padding: 0 0 60px 0;
}
.about__block_video {
  width: 39.9%;
}
@media (max-width: 1000px) {
  .about__block_text, .about__block_video {
    width: 48%;
  }
}
@media (max-width: 770px) {
  .about__block_text, .about__block_video {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .about__block_text, .about__block_video {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .about__block_text, .about__block_video {
    width: 100%;
  }
}
.about__text01, .about__text02, .about__item {
  padding: 0 0 16px 0;
}
.about__list {
  list-style: inside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__video {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0 0 30px 0;
}
@media (max-width: 350px) {
  .about__video {
    height: 300px;
  }
}
.about video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.about__play_img {
  position: absolute;
  width: 66px;
  height: 66px;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.about__block_video_text {
  background: #5DB7DE;
  border-radius: 20px;
  padding: 30px 35px;
}
.about__text1, .about__text2 {
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
  color: #FFFFFF;
}
.about__text1 {
  margin: 0 0 38px 0;
}

.news {
  padding: 0 0 120px 0;
}
@media (max-width: 770px) {
  .news {
    padding: 0 0 40px 0;
  }
}
.news__block_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 77px 0;
}
@media (max-width: 770px) {
  .news__block_up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 770px) {
  .news__title {
    margin: 0 0 50px 0;
  }
}
.news__play {
  color: #3D348B;
}
.news__icon {
  display: block;
  border: 1px solid #3D348B;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.news__icon i {
  font-size: 7px;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 750px) {
  .news__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.news__item {
  width: 306px;
  margin: 0 0 30px 0;
  color: #333333;
  font-weight: 700;
  line-height: 140%;
}
@media (max-width: 1320px) {
  .news__item {
    margin: 0 10px 30px 10px;
  }
}
@media (max-width: 400px) {
  .news__item {
    width: 100%;
    margin: 0 0 30px 0;
  }
}

.item2__img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin: 0 0 25px 0;
}
.item2__date {
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.item2__title {
  font-size: 19px;
  margin: 0 0 12px 0;
}

.footer__cont1 {
  background: #3D348B;
  opacity: 0.85;
}
.footer__body1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 10px;
}
@media (max-width: 500px) {
  .footer__body1 {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__icon, .footer__icon_img {
  margin: 0 20px 0 0;
}
@media (max-width: 1150px) {
  .footer__icon, .footer__icon_img {
    margin: 0 10px 0 0;
  }
}
.footer__icon {
  font-size: 30px;
  color: #fff;
}
@media (max-width: 1150px) {
  .footer__icon {
    font-size: 20px;
  }
}
.footer__icon_img {
  width: 25px;
  height: 20px;
}
@media (max-width: 1150px) {
  .footer__icon_img {
    width: 20px;
    height: 15px;
  }
}
@media (max-width: 550px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo img {
  width: 108px;
  height: 30px;
}
@media (max-width: 770px) {
  .footer__logo img {
    width: 70px;
    height: 20px;
  }
}
@media (max-width: 400px) {
  .footer__logo img {
    width: 40px;
    height: 13px;
  }
}
.footer__info_text {
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
@media (max-width: 1150px) {
  .footer__info_text {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .footer__info_text {
    font-size: 12px;
  }
}
.footer__part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}
@media (max-width: 1320px) {
  .footer__part2 {
    width: 35%;
  }
}
@media (max-width: 1000px) {
  .footer__part2 {
    width: 40%;
  }
}
@media (max-width: 770px) {
  .footer__part2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 30%;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .footer__part2 {
    width: 100%;
  }
}
.footer__cont2 {
  background: #3D348B;
}
.footer__body2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0 50px 0;
}
@media (max-width: 770px) {
  .footer__body2 {
    padding: 40px 0 10px 0;
  }
}
@media (max-width: 520px) {
  .footer__body2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin: 0 0 20px 0;
}
@media (max-width: 1320px) {
  .footer__column {
    margin: 0 20px 40px 20px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}
@media (max-width: 1000px) {
  .footer__title {
    margin: 0 0 20px 0;
  }
}
.footer__text {
  font-family: "PTSans_Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 0 0 30px 0;
}
@media (max-width: 1000px) {
  .footer__text {
    margin: 0 0 17px 0;
  }
}
.footer__last {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 30px 10px;
}